button{
    padding: 15px 40px;
    border: none;
    border-bottom: 1px solid #1E180C;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.but{
    &__one{
        margin-top: 30px;
        background-color: #F9F9F9;
    }
    &__two{
        margin-top: 30px;
        background-color: #FFF;
    }
    &__three{
        display: flex;
        background-color:#fcfcfc;
    }
    &__four{
        margin: 80px;
        color: white;
        background-color: #1E180C;
    }
    &__five{
        margin-bottom: 40px;
        background-color: white;
    }
    &__reset-but{
        margin: 10px;
        color: white;
        background-color: #1E180C;
    }
}
/*.but:not(.but__four, .but__reset-but, .but__close):hover{
    background: linear-gradient(rgba(255, 255, 255, 0.452), rgba(0, 0, 0, 0.266));
}*/
.but__one:hover,
.but__two:hover,
.but__three:hover,
.but__five:hover{
    background: linear-gradient(rgba(255, 255, 255, 0.452), rgba(0, 0, 0, 0.266));
}
.but__four:hover{
    color: #1E180C;
    background-color: #FFF;
    border: 1px solid #1E180C;
}
.but__reset-but:hover{
    color: #1E180C;
    background-color: #FFF;
    outline: 1px solid #1E180C;
}
.but__close:hover{
    color: #FFF;
    background-color: #1E180C;
}
.butt__first:hover{
    border-color: rgb(212, 212, 212);
    color: rgb(212, 212, 212);
}
.butt__second:hover{
    color: black;
    border-bottom: 1px solid black;
    border-radius: 20px;
    background: linear-gradient( rgba(99, 98, 98, 0.437),rgba(255, 255, 255, 0.659));
}
.bttn__first:hover{
    border-color: #1e180c9c;
    color: #1e180c9c;
}
.bttn__second:hover{
    color: black;
    border-bottom: 1px solid black;
    border-radius: 20px;
    background: linear-gradient( rgba(99, 98, 98, 0.437),rgba(255, 255, 255, 0.659));
}
.info__butn:hover{
    color: black;
    border-bottom: 1px solid black;
    border-radius: 20px;
    background: linear-gradient( rgba(99, 98, 98, 0.437),rgba(255, 255, 255, 0.659));
}
.data__butn:hover{
    color: #1E180C;
    background-color: #FFF;
    border-bottom: none;
    outline: 1px solid #1E180C;
}