button{
    padding: 15px 40px;
    border: none;
    border-bottom: 1px solid #1E180C;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.but{
    transition: all 0.5s ease-in-out;
    &__one{
        margin-top: 30px;
        background-color: #F9F9F9;
    }
    &__two{
        margin-top: 30px;
        background-color: #FFF;
    }
    &__three{
        display: flex;
        background-color:#fcfcfc;
    }
    &__four{
        margin: 80px;
        color: white;
        background-color: #1E180C;
    }
    &__reset-but{
        margin: 10px;
        color: white;
        background-color: #1E180C;
    }
}
button:not(.but__four, .but__reset-but, .but__close, .reset-btn):hover{
    background: linear-gradient(rgba(255, 255, 255, 0.452), rgba(0, 0, 0, 0.266));
}
.but__four:hover{
    color: #1E180C;
    background-color: #FFF;
    border: 1px solid #1E180C;
}
.but__reset-but:hover{
    color: #1E180C;
    background-color: #FFF;
    outline: 1px solid #1E180C;
}
.but__close:hover{
    color: #FFF;
    background-color: #1E180C;
}