<footer class="footer">

    <nav class="kon_navig">
        <div class="logo">
            <a class="nav__logo" href="/">
                <picture>
                    <img src="/assets/images/logoPC.png" alt="Логотип Intefra">
                </picture>
            </a>
            <p>INTEFRA – российская платформа, на которой <br>
            объединены ведущие итальянские бренды <br>
            одежды, обуви и аксессуаров.</p>
            <p class="shortT">INTEFRA.RU - с 2012 года - 100% оригинальные товары</p>
        </div>

        <ul class="navig_clothes reset-list">
            <li><a class="katalog_link reset-link" href="#">Обувь</a></li>
            <li><a class="katalog_link reset-link" href="#">Джинсы и брюки</a></li>
            <li><a class="katalog_link reset-link" href="#">Верхняя одежда</a></li>
            <li><a class="katalog_link reset-link" href="#">Спортивные костюмы</a></li>
            <li><a class="katalog_link reset-link" href="#">Пиджаки и костюмы</a></li>
            <li><a class="katalog_link reset-link" href="#">Свитера, поло, джемперы</a></li>
        </ul>
        <ul class="navig_clothes reset-list">
            <li><a class="katalog_link reset-link" href="#">Футболки и поло</a></li>
            <li><a class="katalog_link reset-link" href="#">Сумки</a></li>
            <li><a class="katalog_link reset-link" href="#">Ремни</a></li>
            <li><a class="katalog_link reset-link" href="#">Аксессуары</a></li>
            <li><a class="katalog_link reset-link" href="#">Бренды</a></li>
        </ul>

        <div class="dannyue">

            <div class="linia">
                <div class="text">
                    <b>Офис в России </b>
                    <p>Москва, Кутузовский пр. 2 </p>
                    <p>Санкт-Петербург, Большой проспект П.С. 13</p>
                </div>
                <picture>
                    <img class="location" src="/assets/images/location.png" alt="Иконка локации">
                </picture>
            </div>

            <div class="linia">
                <div class="text">
                    <b>Офис в Италии </b>
                    <p>Milano, Via Manzoni 23</p>
                </div>
                <picture>
                    <img class="location" src="/assets/images/location.png" alt="Иконка локации">
                </picture>
            </div>

            <div class="linia_forSocM">
                <picture>
                    <img class="location" src="/assets/images/instagram.png" alt="Иконка инстаграма">
                    <img class="location" src="/assets/images/telegram.png" alt="Иконка телеграма">
                </picture>
            </div>
        </div>
    </nav>
</footer>

