<header class="header">

<nav class="navigation">
    <!-- ШТУКА С КАТАЛОГОМ -->
    <a class="nav_katalog" href="/">
        <picture>
            <img src="/assets/images/katalog.png" alt="Штука, открывающая каталог">
        </picture>
    </a>

<!-- ЛОГОТИП -->
    <a class="nav_logo" href="/">
        <picture>
            <img src="/assets/images/logoPC.png" alt="">
        </picture>
    </a>

<!-- ПОИСКОВАЯ СТРОКА -->
    <div class="nav_search">
        <input type="search" placeholder="Поиск по продукции">
    </div>

<!-- ДОСТАВКА -->
    <div class="nav_delivery">
        <picture>
            <img class="blocc" src="/assets/images/block.png" alt="Картинка доставки">
        </picture>
        <p>Доставка</p>
    </div>

<!-- КОРЗИНА -->
    <div class="nav_kor">
        <picture>
            <img class="korz" src="/assets/images/korzina.png" alt="Иконка корзины">
            <img class="elipse" src="/assets/images/el_korzina.png" alt="Обозначение продукции в корзине">
        </picture>
        <p>Корзина</p>
    </div>
</nav>
<hr>

</header>